* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
.brutalist-title {
    font-family: 'Permanent Marker', cursive;
}

.section-label {
    font-family: 'Amatic SC', cursive;
}

.caption {
    font-family: 'Indie Flower', cursive;
}